#fiveDayForcast {
    border:5px solid red;
}
#weatherDisplay {
    border:5px solid purple;
    /* height: 40rem; */
    background-color: lightgrey;
}
.card {
    border: 5px solid blue;
    border-radius: 20%;
    width: 10rem;
    height: 10rem;
    background-color: skyblue;
    margin: .2rem;
}
#citySideBar{
    border: 2px solid green;
    margin-right: 10px;
    background-color: lightgrey;
}
#todayWeather {
    border:5px solid red;
    /* height: 10rem; */
    padding: 5rem;
}
/* .row {
    margin: .2rem;
} */

.nav-item{
    color: white;
    font-size: 3rem;
    text-align: center;
   
}
.navbar{
    background-color: rgb(59, 59, 150);
    margin-bottom: 20px;
}